accelerate
aiohappyeyeballs
aiohttp
aiosignal
attrs
bs4
certifi
charset-normalizer
colorama
datasets
dill
ddgs
faiss-gpu
filelock
frozenlist
fsspec
huggingface-hub
idna==3.10
Jinja2
langchain
langchain-core
langchain-text-splitters
MarkupSafe
mpmath
multidict
multiprocess
networkx
numpy<2
packaging
pandas
peft
propcache
psutil
pyarrow
pymupdf
python-dateutil
pytz
PyYAML
regex
requests
safetensors
sentence_transformers
setuptools
six
sympy
tokenizers
torch
tqdm
transformers
typing_extensions
tzdata
urllib3
xxhash
yarl
